<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <!--<a class="navbar-brand" href="#">Hidden brand</a>-->
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" routerLinkActive="active" *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/auth">Login/SignUp <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/profiles">All Profiles <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/profiles/add">New Profile</a>
      </li>
      <li *ngIf="isAuthenticated" class="nav-item">
        <a style="cursor: pointer;" (click)="onLogout()" class="nav-link">Logout</a>
      </li>
    </ul>
    
  </div>
</nav>
